{{> header}}
		<div class="content">
			<div class="content-thing slim">
				<div class="text">
					<span class="question">{{i18n.about.what-is-exegfx}}</span>
					<div class="answer">
						<p>
							In the purest sense, Executable Graphics is visual artwork through the medium of software.
							Each artwork is created not as an image file, but as an executable program which, when run, renders the artwork in-the-moment.
						</p>
						<p>
							While the popular demoscene demo/intro formats produce realtime animated visuals and music, Executable Graphics produces only a single still image, with more time for rendering.
							This allows for more computationally intensive rendering techniques that cannot be run in realtime.
						</p>
						<p>
							Over the last decade or so, demoparties have popularized the 4K Executable Graphics format.
							Make no mistake, '4K' here refers to the filesize, not the resolution - each entry to these competitions cannot exceed 4 kilobytes (4096 bytes) in size.
						</p>
					</div>
					<br/>
					<span class="question">{{i18n.about.what-is-exe-dot-gfx}}</span>
					<div class="answer">
						<p>
							This website presents a gallery of artworks from various artists in the Executable Graphics scene.
							Each piece in the collection was rendered by an executable no larger than 4096 bytes.
						</p>
						<p>
							You are invited to browse the collection as you would an art gallery - to spend time with each piece, and to consider the craft (both artistic and technical) behind each.
						</p>
						<p>
							This collection is curated by yx.
						</p>
					</div>
				</div>
			</div>
		</div>
{{> footer}}
