<a name="{{slug}}" />
<div class="content-thing">
	<a href="{{demozoo_url}}" style="display:block">
{{#meteorik-nominee}}
		<div class="meteorik meteorik-nominee">Meteoriks {{meteorik-year}} Nominee</div>
{{/meteorik-nominee}}
{{#meteorik-winner}}
		<div class="meteorik meteorik-winner">Meteoriks {{meteorik-year}} Winner</div>
{{/meteorik-winner}}
		<div class="text">
			<span class="author">{{author}}</span>
			<br/>
			<span class="title">{{title}}</span>, <span class="party">{{party}}</span>
			<br/>
			<span class="subtitle">{{platform}} executable</span>
		</div>
		<div class="image">
			<img src="{{image_url}}" loading="lazy"/>
		</div>
	</a>
</div>
