<div class="content-thing">
	<a href="{{demozoo_url}}" style="display:block">
		{{#meteoriks-visible}}
			{{#meteorik-nominee}}
				<div class="meteorik meteorik-nominee">Meteoriks {{meteorik-year}} Nominee</div>
			{{/meteorik-nominee}}
			{{#meteorik-winner}}
				<div class="meteorik meteorik-winner">Meteoriks {{meteorik-year}} Winner</div>
			{{/meteorik-winner}}
		{{/meteoriks-visible}}
		<span class="author">{{author}}</span>
		<br/>
		<span class="title">{{title}}</span>, <span class="party">{{party}}</span>
		<br/>
		<span class="subtitle">{{platform}} executable</span>
		<br/>
		<img class="thumb" src="{{image_url}}" loading="lazy"/>
	</a>
</div>
