@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: url(muli-300.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url(muli-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  src: url(muli-800.ttf) format('truetype');
}
