<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<title>{{meta-title}}{{#meta-subtitle}} | {{meta-subtitle}}{{/meta-subtitle}}</title>
		<meta property="og:title" content="{{meta-title}}{{#meta-subtitle}} | {{meta-subtitle}}{{/meta-subtitle}}"/>
		<meta name="twitter:title" content="{{meta-title}}{{#meta-subtitle}} | {{meta-subtitle}}{{/meta-subtitle}}"/>

		<meta name="apple-mobile-web-app-title" content="exe.gfx"/>
		<link rel="manifest" href="manifest.json?cache={{hash-manifest-json}}"/>

		<link rel="shortcut icon" href="favicon.ico?cache={{hash-favicon-ico}}"/>
		<link rel="apple-touch-icon" href="apple-touch-icon.png?cache={{hash-apple-touch-icon-png}}"/>
		<link rel="image_src" href="apple-touch-icon.png?cache={{hash-apple-touch-icon-png}}"/>

		<meta name="description" content="{{meta-description}}"/>
		<meta property="og:description" content="{{meta-description}}"/>
		<meta name="twitter:description" content="{{meta-description}}"/>
	
		<meta property="og:image" content="https://executable.graphics/{{meta-image}}"/>
		<meta name="twitter:image" content="https://executable.graphics/{{meta-image}}"/>
	
		<meta name="twitter:card" content="{{meta-twitter-card-type}}"/>
		<meta name="twitter:creator" content="@lunasorcery"/>

		<link href="fonts.css?cache={{hash-fonts-css}}" rel="stylesheet"/>
		<link href="style.css?cache={{hash-style-css}}" rel="stylesheet"/>
	</head>
	<body>
		<label class="theme-switch" for="checkbox">
			<span>toggle theme</span>
			<svg width="28" height="28" alt="Toggle Light/Dark Theme" xmlns="http://www.w3.org/2000/svg">
				<defs>
					<mask id="hole">
						<rect width="100%" height="100%" fill="white"/>
						<circle r="40%" cx="32%" cy="32%" fill="black"/>
					</mask>
				</defs>
				<circle r="50%" cx="50%" cy="50%" mask="url(#hole)" fill="currentColor"/>
			</svg>
			<input type="checkbox" id="checkbox" />
		</label>
		<script src="script.js"></script>
		<div class="navbar">
			<a href="/" class="entry{{#page-gallery}} active{{/page-gallery}}">Gallery</a>
			<a href="meteoriks.html" class="entry{{#page-meteoriks}} active{{/page-meteoriks}}">Meteoriks</a>
			<a href="about.html" class="entry{{#page-about}} active{{/page-about}}">About</a>
		</div>
