{{> header}}
		<div class="content">
			<div class="content-thing slim">
				<span class="question">What are the Meteoriks?</span>
				<div class="answer">
					<p>
						The Meteoriks are an award to honor the best productions that the demoscene has to offer, presented annually at the Revision demoparty.
					</p>
					<p>
						A category for Best Executable Graphics has been introduced in 2021, the nominees for which are listed below.
					</p>
					<p><strong>ALL NOMINATIONS CURRENTLY LISTED BELOW ARE PLACEHOLDERS TO TEST THE SITE UI</strong></p>
				</div>
			</div>
		</div>
		<div class="content">
{{#entries}}
			{{> artwork}}
{{/entries}}
		</div>
{{> footer}}