{{> header}}
		<div class="content">
			<div class="content-thing slim">
				<div class="text">
					<span class="question">{{i18n.meteoriks.what-are-meteoriks}}</span>
					<div class="answer">
						<p>
							<a href="https://meteoriks.org/">The Meteoriks</a> are an award to honor the best productions that the demoscene has to offer, and are presented annually at the Revision demoparty over the Easter weekend.
						</p>
						<p>
							Following a surge of activity in the Executable Graphics field, the Meteoriks introduced a category for Best Executable Graphics in 2021. You can see the nominees and winner below.
						</p>
						{{#meteoriks-juror-application-open}}
						<p>
							Applications to be a juror for the {{current-year}} Meteoriks are <a href="https://meteoriks.org/taking_part/juror">now open</a>!
						</p>
						{{/meteoriks-juror-application-open}}
						{{#meteoriks-nominations-open}}
						<p>
							Public nominations for the {{current-year}} Meteoriks are now open - you can submit entries for the jurors' consideration through both <a href="https://www.pouet.net/">Pouët</a> and <a href="https://demozoo.org/">Demozoo</a>.
						</p>
						{{/meteoriks-nominations-open}}
					</div>
				</div>
			</div>
		</div>
		<div class="content">
{{#entries}}
			{{> artwork}}
{{/entries}}
		</div>
{{> footer}}