<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>executable.graphics</title>
		<link href="https://fonts.googleapis.com/css?family=Muli:100,300,400,800" rel="stylesheet"/>
		<link href="style.css" rel="stylesheet"/>
	</head>
	<body>
		<div class="navbar">
			<a href="/" class="entry">Gallery</a>
			<a href="meteoriks.html" class="entry active">Meteoriks</a>
			<a href="about.html" class="entry">About</a>
		</div>
		<div class="content">
			<div class="content-thing slim">
				<span class="question">What are the Meteoriks?</span>
				<div class="answer">
					<p>
						The Meteoriks are an award to honor the best productions that the demoscene has to offer, presented annually at the Revision demoparty.
					</p>
					<p>
						A category for Best Executable Graphics has been introduced in 2021, the nominees of which are listed below.
					</p>
				</div>
			</div>
		</div>
		<div class="content">
{{#entries}}
			{{> artwork}}
{{/entries}}
		</div>
		<div class="footer">
			Website © yx.<br/>
			All artworks © their respective authors.
		</div>
	</body>
</html>
