:root {
	--lightmode-main-text-color: #303132;
	--lightmode-main-bg-color: #f0f0f0;
	--lightmode-panel-bg-color: #ffffff;

	--darkmode-main-text-color: #f0f0f0;
	--darkmode-panel-bg-color: #202020;
	--darkmode-main-bg-color: #303030;

	--lightmode-meteorik-nominee-bg-color: #e5e5e5;
	--lightmode-meteorik-winner-bg-color:  #ffe5aa;/*#ffcc55*/;

	--darkmode-meteorik-nominee-bg-color:  #555555;
	--darkmode-meteorik-winner-bg-color:   #645020;

	--main-text-color: var(--lightmode-main-text-color);
	--panel-bg-color:  var(--lightmode-panel-bg-color);
	--main-bg-color:   var(--lightmode-main-bg-color);

	--meteorik-nominee-bg-color:     var(--lightmode-meteorik-nominee-bg-color);
	--meteorik-winner-bg-color:      var(--lightmode-meteorik-winner-bg-color);

	--image-margin: 0px;
}

[data-theme="dark"] {
	--main-text-color: var(--darkmode-main-text-color);
	--panel-bg-color:  var(--darkmode-panel-bg-color);
	--main-bg-color:   var(--darkmode-main-bg-color);

	--meteorik-nominee-bg-color:     var(--darkmode-meteorik-nominee-bg-color);
	--meteorik-winner-bg-color:      var(--darkmode-meteorik-winner-bg-color);
}

* {
	box-sizing: border-box;
	color: var(--main-text-color);

	transition:
		color 200ms ease-in-out,
		background-color 200ms ease-in-out;
}

html {
	height: 100%;
	font-family: 'Muli', sans-serif;
}

body {
	margin: 0 auto;
	height: 100%;
	background: var(--main-bg-color);
	text-align: center;
	padding: 12px;
}

a {
	text-decoration: none;
}


.navbar {
	margin-left: auto;
	margin-right: auto;
	padding: 8px 16px;
}

.content {
	margin: 24px auto;
}

.navbar,
.content {
	width: 100%;
}

.navbar .entry {
	padding: 8px 16px;
	color: var(--main-text-color);
}
.navbar .entry.active {
	font-weight: 600;
}

.navbar .entry.active,
.navbar .entry:hover {
	border-bottom: 1px solid var(--main-text-color);
}


.theme-switch {
	position: absolute;
	top: 12px;
	right: 12px;
	padding: 4px;

	cursor: pointer;

	/*align text*/
	display: flex;
	align-items: center;
}
.theme-switch span {
	padding-right: 8px;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
}
.theme-switch:hover span {
	opacity: 0.75;
}
.theme-switch input {
	display: none;
}


.content-thing {
	text-align: left;
	font-size: 12pt;
	margin: 0 auto 32px;
	background: var(--panel-bg-color);
	box-shadow:
		0px 1px 2px rgba(0,0,0,0.3),
		0px 2px 5px rgba(0,0,0,0.05);
	width: fit-content;
	width: -moz-fit-content;
	max-width: 100%;
}
.content-thing.slim {
	max-width: 760px;
	margin-left: auto;
	margin-right: auto;
}

.content-thing .meteorik {
	padding: 8px;
	text-align: center;
	font-weight: 600;
	float: right;
	border: 0px solid transparent;
	border-bottom-width: 1px;
	border-left-width:   1px;
	margin-top: -4px;
	margin-right: 12px;
	box-shadow:
		0px 1px 2px rgba(0,0,0,0.3),
		0px 2px 5px rgba(0,0,0,0.05);
}
.content-thing .meteorik-nominee {
	background: var(--meteorik-nominee-bg-color);
}
.content-thing .meteorik-winner {
	background: var(--meteorik-winner-bg-color);
}

.content-thing .text {
	padding: 12px;
}

.content-thing .text .author {
	font-weight: 400;
}
.content-thing .text .title {
	font-size: 15pt;
	font-weight: 800;
	font-style: italic;
}
.content-thing .text .author,
.content-thing .text .title,
.content-thing .text .party,
.content-thing .text .subtitle {
	margin-bottom: 0.3em;
	display: inline-block;
}
.content-thing .text > *:last-child {
	margin-bottom: 0;
}
.content-thing:hover .text .title {
	text-decoration: underline;
}

.content-thing .image {
	padding: var(--image-margin);
	padding-top: 0;
}
.content-thing .image img {
	display: block;
	max-width: 100%;
	max-height: 80vh;
}

.content-thing .text .question {
	font-size: 14pt;
	font-weight: 600;
}
.content-thing .text .answer p {
	margin-block-end: 0;
}

.content-thing .text p a[href] {
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: from-font;
}
.content-thing .text p a[href]:hover {
	text-decoration-style: solid;
}

.footer {
	padding-bottom: 24px;
}

@media only screen and (max-width: 600px) {
	/*:root {
		--lightmode-meteorik-nominee-bg-color: rgba(150,150,150,0.4);
	}*/
	* {
		transition: none;
	}
	.theme-switch span {
		display: none;
	}

	/* old-style wide bar stuck on top of the card */
	/*.content-thing .meteorik {
		float: none;
		border-width: 0px;
		border-top-width: 1px;
	}*/
	/* yucky gradient experiment */
	/*.content-thing .meteorik-nominee {
		background: linear-gradient(var(--meteorik-nominee-bg-color), transparent);
	}
	.content-thing .meteorik-winner {
		background: linear-gradient(var(--meteorik-winner-bg-color), transparent);
	}*/

	/* new-style corner banner with reduced font size */
	.content-thing .meteorik {
		font-size: 10pt;
		padding: 4px;
		max-width: 120px;
	}
}


/* silly rounded-corner mode */
/*.content-thing {
	border-radius: 20px;
}
.content-thing .meteorik {
	border-radius: 16px;
	border-width: 0px;
	margin: 4px;
}
.content-thing .image {
	padding: 4px;
}
.content-thing img {
	border-radius: 16px;
}*/



/* april fools theme */
[data-theme="pouet"] {
	--main-text-color: #ffffff;
	--panel-bg-color:  #446688;
	--main-bg-color:   #3a6ea5;
	font-family: 'Tahoma', 'Verdana', 'Arial', 'Helvetica', sans-serif;
	font-size: 9pt;
}
[data-theme="pouet"] body {
	padding: 12px 0px;
	background: var(--main-bg-color) url('https://content.pouet.net/styles/001/gfx/trumpet.svg');
}
[data-theme="pouet"] .theme-switch {
	display: none;
}
[data-theme="pouet"] .navbar {
	background-color: #224488;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	padding: 0px;
}
[data-theme="pouet"] .navbar .entry {
	display: inline-block;
	border: none;
	font-weight: bold;
	padding: 3px 4px;
}
[data-theme="pouet"] .navbar .entry:hover {
	text-decoration: underline solid;
}
[data-theme="pouet"] .navbar .entry:first-letter {
	color: #9FCFFF;
}
[data-theme="pouet"] .content {
	padding: 0px 12px;
}
[data-theme="pouet"] .content-thing {
	box-shadow: none;
	border: 2px solid #000000;
	max-width: 760px;
}
[data-theme="pouet"] .content-thing.slim {
	max-width: 500px;
}
[data-theme="pouet"] .content-thing .text {
	padding: 3px;
}
[data-theme="pouet"] .content-thing .text,
[data-theme="pouet"] .content-thing .text .author,
[data-theme="pouet"] .content-thing .text .title,
[data-theme="pouet"] .content-thing .text .party,
[data-theme="pouet"] .content-thing .text .subtitle,
[data-theme="pouet"] .content-thing .text .question {
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}
[data-theme="pouet"] .content-thing .text .title,
[data-theme="pouet"] .content-thing .text .question {
	font-weight: bold;
}
[data-theme="pouet"] .content-thing:not(.content-thing.slim) .text {
	background: #224488;
}
[data-theme="pouet"] .content-thing .image {
	border-top: 1px solid #000000;
}
[data-theme="pouet"] .content-thing .meteorik {
	background: transparent;
	font-size: 0;
	border: 0;
	padding: 0;
	margin: 8px;
	width: 16px;
	height: 16px;
}
[data-theme="pouet"] .content-thing .meteorik.meteorik-winner {
	background-image: url('http://content.pouet.net/gfx/sceneorg/meteorikwinner.gif');
}
[data-theme="pouet"] .content-thing .meteorik.meteorik-nominee {
	background-image: url('http://content.pouet.net/gfx/sceneorg/meteoriknominee.gif');
}
[data-theme="pouet"] .content-thing .text .question {
	display: block;
	margin: -4px;
	padding: 3px;
	border: 1px solid #000000;
	background: #224488;
}
[data-theme="pouet"] .content-thing .text .answer p {
	margin-block-start: 6px;
}