:root {
	--lightmode-main-text-color: #303132;
	--lightmode-main-bg-color: #f0f0f0;
	--lightmode-panel-bg-color: #ffffff;

	--darkmode-main-text-color: #f0f0f0;
	--darkmode-panel-bg-color: #303030;
	--darkmode-main-bg-color: #202020;

	--lightmode-meteorik-nominee-bg-color:     rgba(187,187,187,0.3);
	--lightmode-meteorik-winner-bg-color:      rgba(255,204,85,0.5);
	--lightmode-meteorik-nominee-border-color: #aaaaaa;
	--lightmode-meteorik-winner-border-color:  #ffcc55;

	--darkmode-meteorik-nominee-bg-color:     rgba(224,224,224,0.2);
	--darkmode-meteorik-winner-bg-color:      rgba(255,204,85,0.2);
	--darkmode-meteorik-nominee-border-color: #cccccc;
	--darkmode-meteorik-winner-border-color:  #ffcc55;

	--main-text-color: var(--lightmode-main-text-color);
	--panel-bg-color:  var(--lightmode-panel-bg-color);
	--main-bg-color:   var(--lightmode-main-bg-color);

	--meteorik-nominee-bg-color:     var(--lightmode-meteorik-nominee-bg-color);
	--meteorik-winner-bg-color:      var(--lightmode-meteorik-winner-bg-color);
	--meteorik-nominee-border-color: var(--lightmode-meteorik-nominee-border-color);
	--meteorik-winner-border-color:  var(--lightmode-meteorik-winner-border-color);
}

[data-theme="dark"] {
	--main-text-color: var(--darkmode-main-text-color);
	--panel-bg-color:  var(--darkmode-panel-bg-color);
	--main-bg-color:   var(--darkmode-main-bg-color);

	--meteorik-nominee-bg-color:     var(--darkmode-meteorik-nominee-bg-color);
	--meteorik-winner-bg-color:      var(--darkmode-meteorik-winner-bg-color);
	--meteorik-nominee-border-color: var(--darkmode-meteorik-nominee-border-color);
	--meteorik-winner-border-color:  var(--darkmode-meteorik-winner-border-color);
}

* {
	box-sizing: border-box;
	color: var(--main-text-color);

	transition:
		color 200ms ease-in-out,
		background-color 200ms ease-in-out,
		border-color 200ms ease-in-out;
}

html {
	height: 100%;
	font-family: 'Muli', sans-serif;
}

body {
	margin: 0 auto;
	height: 100%;
	background: var(--main-bg-color);
	text-align: center;
	padding: 12px;
}

a {
	text-decoration: none;
}


.navbar {
	margin-left: auto;
	margin-right: auto;
	padding: 8px 16px;
}

.content {
	margin: 24px auto;
}

.navbar,
.content {
	width: 100%;
}

.navbar .entry {
	padding: 8px 16px;
	color: var(--main-text-color);
}
.navbar .entry.active {
	font-weight: 800;
}

.navbar .entry.active,
.navbar .entry:hover {
	border-bottom: 1px solid var(--main-text-color);
}


.theme-switch {
	position: absolute;
	top: 12px;
	right: 12px;
	padding: 4px;

	cursor: pointer;

	/*align text*/
	display: flex;
	align-items: center;
}
.theme-switch span {
	padding-right: 8px;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
}
.theme-switch:hover span {
	opacity: 0.75;
}
.theme-switch input {
	display: none;
}


.preamble {
	margin: 32px auto;
}
.preamble a {
	text-decoration: underline;
	text-decoration-style: dotted;
}
.preamble a:hover {
	text-decoration-style: solid;
}

.content-thing {
	text-align: left;
	font-size: 12pt;
	padding: 12px;
	margin: 0 auto 32px;
	background: var(--panel-bg-color);
	box-shadow:
		0px 1px 2px rgba(0,0,0,0.3),
		0px 2px 5px rgba(0,0,0,0.05);
	width: fit-content;
	width: -moz-fit-content;
	max-width: 100%;
}
.content-thing.slim {
	max-width: 760px;
	margin-left: auto;
	margin-right: auto;
}

.content-thing .meteorik {
	margin: -12px;
	margin-bottom: 12px;
	padding: 8px;
	text-align: center;
	font-weight: 600;
	float: right;
	border: 0px solid transparent;
	border-bottom-width: 1px;
	border-left-width:   1px;
}
.content-thing .meteorik-nominee {
	background: var(--meteorik-nominee-bg-color);
	border-color: var(--meteorik-nominee-border-color);
}
.content-thing .meteorik-winner {
	background: var(--meteorik-winner-bg-color);
	border-color: var(--meteorik-winner-border-color);
}

.content-thing .author {
	font-weight: 400;
}
.content-thing .title {
	font-size: 14pt;
	font-weight: 800;
	font-style: italic;
}
.content-thing .author,
.content-thing .title,
.content-thing .party,
.content-thing .subtitle {
	margin-bottom: 0.3em;
	display: inline-block;
}
.content-thing .thumb {
	margin-top: 0.3em;
	display: block;
	max-width: 100%;
	max-height: 80vh;
}
.content-thing:hover .title {
	text-decoration: underline;
}

.content-thing .question {
	font-size: 14pt;
	font-weight: 800;
}
.content-thing .answer p {
	margin-block-end: 0;
}

.content-thing p a[href] {
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: from-font;
}
.content-thing p a[href]:hover {
	text-decoration-style: solid;
}

.footer {
	padding-bottom: 24px;
}

@media only screen and (max-width: 600px) {
	/*:root {
		--lightmode-meteorik-nominee-bg-color: rgba(150,150,150,0.4);
	}*/
	* {
		transition: none;
	}
	.content-thing .meteorik {
		float: none;
		border-width: 0px;
		border-top-width: 1px;
	}
	.theme-switch span {
		display: none;
	}

	/* yucky gradient experiment */
	/*.content-thing .meteorik-nominee {
		background: linear-gradient(var(--meteorik-nominee-bg-color), transparent);
	}
	.content-thing .meteorik-winner {
		background: linear-gradient(var(--meteorik-winner-bg-color), transparent);
	}*/
}


/* silly rounded-corner mode */
/*.content-thing {
	border-radius: 20px;
}
.content-thing .meteorik {
	border-radius: 16px;
	border-width: 1px;
	margin-top: -8px;
	margin-right: -8px;
	margin-left: -8px;
}
.content-thing img {
	border-radius: 8px;
}*/
