{{> header}}
		<tr class="content">
			<td>
				<font face="Tahoma" size="2">
					<b>{{#i18n}}about.what-is-exegfx{{/i18n}}</b>
					<p>{{#i18n}}about.what-is-exegfx-p1{{/i18n}}</p>
					<p>{{#i18n}}about.what-is-exegfx-p2{{/i18n}}</p>
					<p>{{#i18n}}about.what-is-exegfx-p3{{/i18n}}</p>
					<b>{{#i18n}}about.what-is-exe-dot-gfx{{/i18n}}</b>
					<p>{{#i18n}}about.what-is-exe-dot-gfx-p1{{/i18n}}</p>
					<p>{{#i18n}}about.what-is-exe-dot-gfx-p2{{/i18n}}</p>
					<p>{{#i18n}}about.credit-curator{{/i18n}}</p>
					<p>{{#i18n}}about.credit-translators{{/i18n}}</p>
				</font>
			</td>
		</tr>
{{> footer}}
