<tr><td><br></td></tr>
<tr>
	<td bgcolor="#ffffff">
		<font face="Tahoma" size="2">
			{{author}}<br>
			<font size="4"><b>{{title}}</b></font>, {{party}}<br>
			{{#i18n}}artwork.platform{{/i18n}}<br>
	{{#meteorik-nominee}}
			<marquee><font color="#0000ff">{{#i18n}}badges.meteorik-nominee{{/i18n}}</font></marquee>
			<br>
	{{/meteorik-nominee}}
	{{#meteorik-winner}}
			<marquee><font color="#ff00ff">{{#i18n}}badges.meteorik-winner{{/i18n}}</font></marquee>
			<br>
	{{/meteorik-winner}}
		</font>
	</td>
</tr>
<tr>
	<td align="center">
		<img src="/img/{{slug}}.gif" />
	</td>
</tr>
