			<tr><td><br></td></tr>
			<tr>
				<td align="center">
					<font face="Tahoma" size="2">
						<div>{{#i18n}}footer.copyright-website{{/i18n}}</div>
						<div>{{#i18n}}footer.copyright-artworks{{/i18n}}</div>
					</font>
				</td>
			</tr>
		</tbody>
		</table>
	</body>
</html>
