{{> header}}
		<div class="content">
			<div class="content-thing slim">
				<div class="text">
					<span class="question">{{#i18n}}about.what-is-exegfx{{/i18n}}</span>
					<div class="answer">
						<p>{{#i18n}}about.what-is-exegfx-p1{{/i18n}}</p>
						<p>{{#i18n}}about.what-is-exegfx-p2{{/i18n}}</p>
						<p>{{#i18n}}about.what-is-exegfx-p3{{/i18n}}</p>
					</div>
					<br/>
					<span class="question">{{#i18n}}about.what-is-exe-dot-gfx{{/i18n}}</span>
					<div class="answer">
						<p>{{#i18n}}about.what-is-exe-dot-gfx-p1{{/i18n}}</p>
						<p>{{#i18n}}about.what-is-exe-dot-gfx-p2{{/i18n}}</p>
						<p>{{#i18n}}about.credit-curator{{/i18n}}</p>
{{#enable-language-dropdown}}
						<p>{{#i18n}}about.credit-translators{{/i18n}}</p>
{{/enable-language-dropdown}}
					</div>
				</div>
			</div>
		</div>
{{> footer}}
