<a name="{{slug}}"></a>
<div class="content-thing">
	<a href="{{demozoo_url}}" style="display:block">
{{#meteorik-nominee}}
		<div class="meteorik meteorik-nominee">{{#i18n}}badges.meteorik-nominee{{/i18n}}</div>
{{/meteorik-nominee}}
{{#meteorik-runnerup}}
		<div class="meteorik meteorik-runnerup">{{#i18n}}badges.meteorik-runnerup{{/i18n}}</div>
{{/meteorik-runnerup}}
{{#meteorik-winner}}
		<div class="meteorik meteorik-winner">{{#i18n}}badges.meteorik-winner{{/i18n}}</div>
{{/meteorik-winner}}
		<div class="text">
			<span class="author">{{author}}</span>
			<br/>
			<span class="title">{{title}}</span>, <span class="party">{{party}}</span>
			<br/>
			<span class="subtitle">{{#i18n}}artwork.platform{{/i18n}}</span>
		</div>
		<div class="image">
			<picture>
				{{#image_url_avif}}<source srcset="{{image_url_avif}}" type="image/avif" />{{/image_url_avif}}
				{{#image_url_webp}}<source srcset="{{image_url_webp}}" type="image/webp" />{{/image_url_webp}}
				<img src="{{image_url}}" width="{{image_width}}" height="{{image_height}}" loading="lazy"/>
			</picture>
		</div>
	</a>
</div>
