		<div class="footer">
			<div>{{#i18n}}footer.copyright-website{{/i18n}}</div>
			<div>{{#i18n}}footer.copyright-artworks{{/i18n}}</div>
			<div class="pouet-credit">{{#i18n}}footer.copyright-pouet{{/i18n}}</div>
		</div>
	</body>
</html>
